/analyzerbase
/android
/autotoolsprojectmanager
/bazaar
/bineditor
/bookmarks
/classview
/clearcase
/cmakeprojectmanager
/coreplugin
/cpaster
/cppeditor
/cpptools
/cvs
/debugger
/designer
/diffeditor
/dlangprojectmanager_
/fakevim
/find
/genericprojectmanager
/git
/glsleditor
/helloworld
/help
/imageviewer
/locator
/macros
/madde
/mercurial
/perforce
/projectexplorer
/pythoneditor
/qbsprojectmanager
/qmldesigner
/qmljseditor
/qmljstools
/qmlprofiler
/qmlprojectmanager
/qnx
/qt4projectmanager
/qtsupport
/remotelinux
/resourceeditor
/subversion
/tasklist
/texteditor
/todo
/updateinfo
/valgrind
/vcsbase
/welcome
/plugins.pro
/plugins.qbs
/QtcPlugin.qbs
/tes/
/baremetal/
/.git/
/qmakeprojectmanager/
/ios/
/_hacks/
/buildallbutton/
/deditor/
/dprojectmanager/
/clangcodemodel/
/winrt/
/beautifier/
/bin/
/dist/
/doc/
/qbs/
/scripts/
/tests/
*.qcd.user
*.qcd.user.*