/android/
/autotest/
/autotoolsprojectmanager/
/baremetal/
/bazaar/
/beautifier/
/bineditor/
/bookmarks/
/clangcodemodel/
/clangstaticanalyzer/
/classview/
/clearcase/
/cmakeprojectmanager/
/coreplugin/
/cpaster/
/cppeditor/
/cpptools/
/cvs/
/debugger/
/designer/
/diffeditor/
/emacskeys/
/fakevim/
/genericprojectmanager/
/git/
/glsleditor/
/helloworld/
/help/
/imageviewer/
/ios/
/macros/
/mercurial/
/modeleditor/
/nim/
/perforce/
/winrt/
/welcome/
/vcsbase/
/valgrind/
/updateinfo/
/todo/
/texteditor/
/tasklist/
/subversion/
/resourceeditor/
/remotelinux/
/qtsupport/
/qnx/
/qmlprofiler/
/qmljstools/
/qmlprojectmanager/
/qmljseditor/
/qmldesigner/
/qmakeprojectmanager/
/qmakeandroidsupport/
/qbsprojectmanager/
/pythoneditor/
/appmanager/
/clangrefactoring/
/scxmleditor/
